.articlesPage {
    padding: 40px 0;
}

.articlesPage .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.articlesPage .pageHeader h1 {
    text-align: center;
    color: var(--color-black-Ex);
    margin-bottom: 30px;
}

.articlesPage .articlesList {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.articleCard {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
    background-color: var(--color-bg-1);
}

.articleTitleLink {
    color: var(--color-black-Ex);
    text-decoration: none;
    transition: color 0.3s ease;
}

.articleTitleLink:hover {
    color: var(--color-primary);
    text-decoration: underline;
}


.articleImage, .articleImage img {
    width: 400px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 8px;
}

.articleInfo {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.articleInfo h2 {
    font-size: 20px; 
    color: var(--color-black-Ex);
    margin-bottom: 8px;
    padding-top: 60px;
}

.articleInfo .articleMeta {
    font-size: 12px;
    color: var(--color-dark-Ex);
    margin-bottom: 8px;
}

.articleInfo .articleExcerpt {
    font-size: 14px;
    color: var(--color-dark);
    line-height: 1.6;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .articleCard {
        flex-direction: column;
    }

    .articleImage, .articleImage img {
        width: 100%;
        height: auto;
    }
}

