.contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 60px 40px;
    font-family: var(--font-family-jakarta)
}

.contact-info {
    flex: 1;
    max-width: 400px;
    background: var(--color-bg-2);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-info:hover {
    transform: translateY(-5px);
}

.contact-info h1 {
    font-size: 24px;
    color: var(--color-black-Ex);
    margin-bottom: 25px;
    font-weight: bold;
}

.contact-info p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.info-item h3 {
    color: var(--color-dark);
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form {
    flex: 2;
    max-width: 600px;
    background: var(--color-bg-2);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-form:hover {
    transform: translateY(-5px);
}

.contact-form h2 {
    font-size: 22px;
    color: var(--color-black-Ex);
    margin-bottom: 25px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--color-dark);
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #d4cdf0;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: var(--color-dark);
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}


/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
    }

    .contact-info,
    .contact-form {
        max-width: 100%;
    }
}
